.app-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr;
  width: 100vw;
  height: 100vh;
  align-items: stretch;
}

.table-container {
  margin: 0px 10px;
}

@media screen and (min-width: 580px) {
  .sidebar-right {
    grid-area: 1 / 11 / 2 / 13;
  }

  .sidebar-left {
    grid-area: 1 / 1 / 2 / 3;
  }

  .table-container {
    grid-area: 1 / 3 / 2 / 11;
  }
}

@media screen and (max-width: 580px) {
  .table-container {
    grid-area: 1 / 1 / 2 / 13;
  }
}
